{% extends 'base.html.twig' %}

{% block title %}My First Admin!{% endblock %}

{% block body %}
    {% for posts in post %}

        <h5>{{ posts.title }}</h5>
        <small class="form-text text-muted">{{ posts.id }}</small>
        <p class="card-link"><a href="{{ path('single', {'post': posts.id }) }}">Watch</a></p>

    {% endfor %}


{% endblock %}