{% extends 'base.html.twig' %}

{% block title %}My First Admin!{% endblock %}

{% block body %}
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content}}</p>


{% endblock %}